.pagination {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 40px;
}

.pagination a {
	margin: 5px;
	display: block;
	text-decoration: none;
}

.pagination a.first,
.pagination a.last,
.pagination a.prev,
.pagination a.next {
	font-size: 0;
	line-height: 0;
	color: white;
	width: 20px;
	height: 20px;
	background-color: darkorange;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination a.first.active,
.pagination a.last.active,
.pagination a.prev.active,
.pagination a.next.active {
	background-color: lightgray;
	color: white;
}

.pagination a.first:after,
.pagination a.last:after,
.pagination a.prev:after,
.pagination a.next:after {
	font-size: 0.75rem;
}

.pagination a.first:after {
	content: '<<';
}

.pagination a.last:after {
	content: '>>';
}

.pagination a.prev:after {
	content: '<';
}

.pagination a.next:after {
	content: '>';
}

.pagination a.active {
	pointer-events: none;
	cursor: default;
	color: darkorange;
}
